{% extends 'rammyblog/base_accounts.html' %}

{% block title %}Update Your Account Details{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Update Your Account Details</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'rammyblog/includes/forms.html' %}

            <button type="submit" class="btn btn-primary btn-block">Update</button>
          </form>
        </div>
         </div>
    </div>
  </div>
{% endblock %}