      {% extends 'rammyblog/base5.html' %}
      {%block content%}
      {%if comment.created_by == request.user%}
      <div id="content">
        <div class="post">
          <h1>Delete Comment</h1>
          <form method="POST" class="post-form">
            {%csrf_token%}
            <p>Are you sure you want to delete {{post.title}}</p>
          <input type="submit" value="Delete"/></form>
          <p class="frmd">
          <button onclick="window.history.back();" class="btn btn-default" type="button">Cancel</button>
        </form>
          </div>
        </div>
        {%else%}
        {%include 'rammyblog/404.html'%}
       {% endif %}
        {%endblock%}

