     
      {% extends 'rammyblog/base5.html' %}

      {%block content%}
      {%for post in posts %}
           
            <div class="card-body">
              <h2 class="card-title"><a href="{%url 'details' post.slug  %}">{{post.title}}</a></h2>
              <h6><div class="">{{post.content| truncatechars:200 | cut:"![](" |cut:")" | urlizetrunc:1 |cut:"..." }}...</div></h6>
           
             <div class=""> By <a href="{%url 'profile' post.author%}">{{post.author | title }}</a> Published in <a href="{%url 'tags' post.tags%}">{{post.tags |title }}</a> on {% now "M d, Y" %}</a>
            </div>
             </div>
          <hr>
          <hr>
        {% endfor %}
      {% include 'rammyblog/includes/pagination.html' %}
        {%endblock%}