 {% extends 'rammyblog/base5.html' %}

      {%block content%}
      {%for post in tags_posts %}
           
            <div class="card-body">
              <h2 class="card-title"><a href="{%url 'details' post.slug %}">{{post.title}}</a></h2>
              <p class="card-text">{{post.content|linebreaksbr|truncatechars:300 }}</p>
              <a href="{%url 'details' post.slug%}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on January 1, 2017 by
              <a href="#">{{post.author | title }}- {% now "H:i" %}</a>
            </div>
            
          
        {% endfor %}
         <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
          </ul>

        {%endblock%}